@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.partnerOverallContainer {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.partnerPage {
  display: flex;
  background-color: #efefef;
  flex-direction: column;
  align-content: space-around;
}

.partnerPageTitleText {
  font-size: 3rem;
  font-family: "Abel", sans-serif;
  color: #0e2959;
  text-align: center;

  padding-top: 30px;
}
