@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.secondBannerContainer {
  display: flex;
  background-color: #f7faef;
  height: 80vh;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  padding: 10px;
}

.secondBannerImage {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.secondBannerTitle {
  font-size: 2rem;
  font-family: "Abel", sans-serif;
  margin-top: 20px;
  color: #0e2959;
}

.secondBannerText {
  font-family: "Abel", sans-serif;
  width: 40%;
  text-align: left;
  font-size: 1rem;
  padding-top: 20px;
  padding-bottom: 30px;
}

.secondBannerImageContainer {
  padding-top: 0px;
}
