@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");


.teamContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.teamTitle
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Abel", sans-serif;
    color: #0e2959;
}